
.gradient-background {
  background: linear-gradient(300deg, #617387, #3c4462, #8d9cbb);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  animation: transitionIn 1.0s;
}

@keyframes transitionIn {
  from {
      opacity: 0;
      transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);

  }
}


.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Slightly increases the size */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Adds a shadow for emphasis */
}

.hover-zoom {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-zoom:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}



.card-link {
  display: block; /* Ensures the link covers the entire card */
  color: inherit; /* Removes default link color */
  text-decoration: none; /* Removes default underline */
}


.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.img-fluid {
  border-radius: 10%;
}

.btn {
  margin: 1rem;
  align-self: center;
}

.title {
  font-family: cursive;
}

